*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: $subtleBg;
  color: $defaultFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  margin-bottom: 4rem;
  max-width: 100%;
  line-height: 1.1em;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    text-align: center;
  }
}
